{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

<div class="container">
    <h1>Une erreur est survenue</h1>

    <p>Si le problème persiste, contactez votre administrateur ou <a href="{{ path('articles') }}">retournez aux articles</a>.</p>
</div>
{% endblock %}
