{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}

<div class="container">
    <h1>Page introuvable</h1>

    <p>La page demandée ne peut pas être trouvée. Vérifiez l'URL ou <a href="{{ path('articles') }}">retournez aux articles</a>.</p>
</div>
{% endblock %}
